body{
    background-color: black;
    background-image: url(images/bg-banner1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
div{
    float: left;
}
#menu{
    height: 1136px;
    width: 1100px;
    margin-left: 200px;
    margin-top: 100px;
}
p{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}
.price{
    color: yellow;
}
.sub-name{
    font-size: 15px;
}
.naan{
    text-align: center;
}
#info{
    padding-left: 100px;
}
.info{
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    font-size: 80px;
    color: #feea06;
}
.time{
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    font-size: 60px;
    color: white;
}
.web-link{
    margin-top: 700px;
}
@media (max-width: 768px) {
    body{
        background-image: url(images/alt-bg.png);
    background-size: cover;
  }
}
